streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
groq
pypdf
pdfplumber
python-docx
python-dotenv
sentence-transformers
docx2txt
torch
transformers