streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
groq
pypdf
python-docx
python-dotenv
sentence-transformers
torch
transformers